In [21]:
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver import Keys, ActionChains
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
import sqlalchemy
import csv
from datetime import date, timedelta, datetime
from utils.sql import sql, States, Routes, Buses

In [22]:
session, engine = sql()

postgresql+psycopg2://postgres:postgres@localhost:5432/redbus

In [23]:
# delete the table and create new table

States.__table__.drop(engine)
Routes.__table__.drop(engine)
Buses.__table__.drop(engine)

session, engine = sql()

postgresql+psycopg2://postgres:postgres@localhost:5432/redbus

In [24]:
# # delete the data

# def truncate_sql():
#     session.query(States).delete()
#     session.query(Routes).delete()
#     session.query(Buses).delete()
#     session.commit()

In [25]:
# truncate_sql()

In [26]:
# to read a csv file

df_states = pd.read_csv('data_states.csv', encoding='latin1')
df_routes = pd.read_csv('data_routes.csv', encoding='latin1')
df_buses = pd.read_csv('data_buses.csv', encoding='latin1')

In [27]:
# define column formats

from sqlalchemy.types import Integer, String, Float, DateTime, Date

# Define column types
dtype_dict = {
    'bus_id': String(),
    'bus_name': String(),
    'bus_type': String(),
    'dur': String(),
    'date_dep': Date(),
    'date_arrival': Date(),
    'time_dep': DateTime(),
    'time_arrival': DateTime(),
    # 'star_rate': Float(),
    'price': Integer(),
    'seat_available': Integer(),
    'route_name': String(),
    'loc_dep': String(),
    'loc_arrival': String(),
    'operator': String(),

}

In [28]:
df_buses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23345 entries, 0 to 23344
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   bus_id          23345 non-null  int64
 1   bus_name        23345 non-null  object
 2   bus_type        23345 non-null  object
 3   dur             23345 non-null  object
 4   date_dep        23345 non-null  object
 5   date_arrival    23345 non-null  object
 6   time_dep        23345 non-null  object
 7   time_arrival    23345 non-null  object
 8   star_rate       22886 non-null  float64
 9   price           23345 non-null  float64
 10  seat_available  23345 non-null  int64
 11  route_name      23345 non-null  object
 12  loc_dep         23345 non-null  object
 13  loc_arrival     23345 non-null  object
 14  operator        23345 non-null  object
dtypes: float64(2), int64(2), object(11)
memory usage: 2.7+ MB

In [29]:
# save 3 tables
df_states.to_sql('states', engine, if_exists='replace', index=False, dtype=dtype_dict)
df_routes.to_sql('routes', engine, if_exists='replace', index=False, dtype=dtype_dict)
df_buses.to_sql('buses', engine, if_exists='replace', index=False, dtype=dtype_dict)

345

In [30]:
# states = [States(**i) for i in df_states.values.tolist()]
# routes = [Routes(**i) for i in df_routes.values.tolist()]
# buses = [Buses(**i) for i in df_buses.values.tolist()]

# session.add_all(states)
# session.add_all(routes)
# session.add_all(buses)

# session.commit()