In [ ]:
import mysql

In [ ]:
import mysql.connector

In [ ]:
#sql connection
conn=mysql.connector.connect(host="localhost", user="root", password="Saro@123",database="redbus")
my_cursor = conn.cursor()

In [ ]:
my_cursor.execute('''CREATE TABLE IF NOT EXISTS bus_routes(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Bus_name VARCHAR(255) NOT NULL,
                  Bus_type VARCHAR(255) NOT NULL,
                  Start_time VARCHAR(255) NOT NULL,
                  End_time VARCHAR(255) NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR(255) NOT NULL,
                  Ratings Float NULL,
                  Route_link VARCHAR(255) NULL,
                  Route_name VARCHAR(255) NULL
                  )''')
print("Table Created successfully")

In [ ]:
insert_query = '''INSERT INTO bus_details_redbus_final(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data = df.values.tolist()

my_cursor.executemany(insert_query, data)

conn.commit()

print("Values inserted successfully")

In [ ]:
df.to_csv(r"C:\IT\learn\projects\redbus_webscraping\accurate.csv")